argcomplete==2.0.0
attrs==21.4.0
Babel==2.9.1
cffi==1.15.0
charset-normalizer==2.0.11
cloud-init==22.1
configobj==5.0.6
construct==2.10.68
cryptography==36.0.0
dbus-python==1.2.18
decorator==5.1.1
distro==1.6.0
fb-re2==1.0.7
gpg==1.15.1
gssapi==1.7.2
idna==3.3
Jinja2==3.0.3
jsonpatch==1.21
jsonpointer==2.0
jsonschema==3.2.0
koji==1.29.0
libcomps==0.1.18
MarkupSafe==2.0.0
mercurial==6.1.4
netifaces==0.11.0
oauthlib==3.0.2
ply==3.11
prettytable==0.7.2
progressbar2==3.53.2
pybeam==0.7
pycparser==2.20
pycurl==7.45.1
pyenchant==3.2.2
pygit2==1.7.1
PyJWT==2.4.0
pyrsistent==0.18.1
pyserial==3.4
PySocks==1.7.1
python-dateutil==2.8.1
python-utils==2.5.6
pytz==2022.1
pyxdg==0.27
PyYAML==6.0
requests==2.27.1
requests-gssapi==1.2.3
rpm==4.17.0
rpmautospec==0.2.6
rpmconf==1.1.4
rpmdeplint==1.4
rpmlint==2.2.0
rpmspectool==1.99.7
selinux==3.3
sepolicy==3.3
setools==4.4.0
six==1.16.0
toml==0.10.2
urllib3==1.26.8
zstd==1.4.5.1
